In [1]:
%run local_pipeline.py

ðŸš€ Starting local ETL pipeline...
Fetching DC data...
Saved: dc_data_2025-05-07.geojson
Fetching NYC data...
Saved: nyc_data_2025-05-07.json
Fetching CDC data...
Saved: cdc_state_data_2025-05-07.json

âœ… Ingest Complete

ðŸ”§ Transforming DC data...
âœ… DC rows: 84085
  incident_date        description        location  latitude  longitude
0    2014-01-01     Single_Gunshot  WashingtonDC5D    38.916    -77.002
1    2014-01-01  Multiple_Gunshots  WashingtonDC7D    38.823    -77.000

ðŸ”§ Transforming NYC data...
âœ… NYC rows: 30
             incident_date                  description       location  \
0  2024-12-16T00:00:00.000  CRIMINAL DISPOSAL FIREARM 1      MANHATTAN
1  2025-02-07T00:00:00.000  CRIMINAL DISPOSAL FIREARM 1  STATEN ISLAND

    latitude  longitude
0  40.728697 -74.006203
1  40.645005 -74.077265

ðŸ”§ Transforming CDC data...
âœ… CDC rows: 918
  incident_date description location
0          2019   FA_Deaths  Alabama
1          2020   FA_Deaths  Alabama

ðŸ§© Combining data...

ðŸ“Š Final Combined DataFrame:
                               incident_id           city incident_date  \
0  dc_1ba318c1-c1ba-4e45-84af-f0b8de22cf0b  Washington DC    2014-01-01
1  dc_23836467-bf72-43c9-a90d-c4d5c1afb91d  Washington DC    2014-01-01
2  dc_793a75b3-cada-40cd-9f68-187b41597510  Washington DC    2014-01-01
3  dc_ec5549e0-fc81-4399-a7d5-33dff8b519f8  Washington DC    2014-01-01
4  dc_a4d7a622-19a6-4f92-9863-116a7141ea15  Washington DC    2014-01-01

  incident_time        description        location  latitude  longitude  \
0      06:18:00     Single_Gunshot  WashingtonDC5D    38.916    -77.002
1      05:00:10  Multiple_Gunshots  WashingtonDC7D    38.823    -77.000
2      05:00:10  Multiple_Gunshots  WashingtonDC1D    38.893    -76.993
3      05:00:11  Multiple_Gunshots  WashingtonDC4D    38.940    -77.026
4      05:00:12  Multiple_Gunshots  WashingtonDC6D    38.890    -76.938

  source_dataset                  loaded_at
0      DC ArcGIS 2025-05-07 06:04:20.903333
1      DC ArcGIS 2025-05-07 06:04:20.903857
2      DC ArcGIS 2025-05-07 06:04:20.904225
3      DC ArcGIS 2025-05-07 06:04:20.904572
4      DC ArcGIS 2025-05-07 06:04:20.904906
Columns: ['incident_id', 'city', 'incident_date', 'incident_time', 'description', 'location', 'latitude', 'longitude', 'source_dataset', 'loaded_at']
Total rows: 85033
Data types:
 incident_id               object
city                      object
incident_date             object
incident_time             object
description               object
location                  object
latitude                 float64
longitude                float64
source_dataset            object
loaded_at         datetime64[ns]
dtype: object

/Users/twinkle/Desktop/INST767-Sp25/Twinkle_Rathod/transform.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined = pd.concat(frames, ignore_index=True)

âœ… ETL pipeline complete. Output saved to data/output/firearm_incidents_file.csv

In [2]:
%run local_pipeline.py

Starting local ETL pipeline...
Fetching DC data...
Saved: dc_data_2025-05-07.geojson
Fetching NYC data...
Saved: nyc_data_2025-05-07.json
Fetching CDC data...
Saved: cdc_state_data_2025-05-07.json

Ingest Complete

Transforming DC data...
DC rows: 84085
  incident_date        description        location  latitude  longitude
0    2014-01-01     Single_Gunshot  WashingtonDC5D    38.916    -77.002
1    2014-01-01  Multiple_Gunshots  WashingtonDC7D    38.823    -77.000

Transforming NYC data...
NYC rows: 30
             incident_date                  description       location  \
0  2025-02-24T00:00:00.000  CRIMINAL DISPOSAL FIREARM 1      MANHATTAN
1  2025-02-07T00:00:00.000  CRIMINAL DISPOSAL FIREARM 1  STATEN ISLAND

    latitude  longitude
0  40.743774 -74.007025
1  40.645005 -74.077265

Transforming CDC data...
CDC rows: 918
  incident_date description location
0          2021   FA_Deaths    Texas
1          2019   FA_Deaths  Alabama

Combining data...

Final Combined DataFrame:
                               incident_id           city incident_date  \
0  dc_6249a4f1-72f1-4843-88d5-268945088e1e  Washington DC    2014-01-01
1  dc_edf771a0-e527-4540-a61f-3f1e0ed819ef  Washington DC    2014-01-01
2  dc_cb58274e-6117-45c7-ace3-fc7ed21c71bb  Washington DC    2014-01-01
3  dc_1b24c3b0-2b48-48cf-9c8d-6f9e8b428206  Washington DC    2014-01-01
4  dc_7a767b34-77bc-4878-ad33-00c5f2237457  Washington DC    2014-01-01

  incident_time        description        location  latitude  longitude  \
0      06:18:00     Single_Gunshot  WashingtonDC5D    38.916    -77.002
1      05:00:10  Multiple_Gunshots  WashingtonDC7D    38.823    -77.000
2      05:00:10  Multiple_Gunshots  WashingtonDC1D    38.893    -76.993
3      05:00:11  Multiple_Gunshots  WashingtonDC4D    38.940    -77.026
4      05:00:12  Multiple_Gunshots  WashingtonDC6D    38.890    -76.938

  source_dataset                  loaded_at
0      DC ArcGIS 2025-05-07 06:10:41.095454
1      DC ArcGIS 2025-05-07 06:10:41.096230
2      DC ArcGIS 2025-05-07 06:10:41.096722
3      DC ArcGIS 2025-05-07 06:10:41.097130
4      DC ArcGIS 2025-05-07 06:10:41.097471
Columns: ['incident_id', 'city', 'incident_date', 'incident_time', 'description', 'location', 'latitude', 'longitude', 'source_dataset', 'loaded_at']
Total rows: 85033
Data types:
 incident_id               object
city                      object
incident_date             object
incident_time             object
description               object
location                  object
latitude                 float64
longitude                float64
source_dataset            object
loaded_at         datetime64[ns]
dtype: object

/Users/twinkle/Desktop/INST767-Sp25/Twinkle_Rathod/transform.py:85: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined = pd.concat(frames, ignore_index=True)

ETL pipeline complete. Output saved to data/output/firearm_incidents_file.csv